<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">


<div>
    <span>25.679</span>
    <input appCurrency type="text" value="25.679" class="number" />
</div>

<div>
    <span>ABC</span>
    <input appCurrency type="text" value="ABC" class="number" />
</div>

<div>
    <span>22..678</span>
    <input appCurrency type="text" value="22..678" class="number" />
</div>
<div>
    <span></span>
    <input appCurrency type="text" value="" class="number" />
</div>

<div>
    <span><button (click)=(dynamicUpdate())>dynamically update</button></span>
    <input appCurrency type="text" value="" class="number test" [formControl]="myInput" />
</div>


